.signupuser
{
position: absolute;
left: 60%;
top: 25%;
  width: 25%;
  height: 6%;
  font-size: 1.5vw;
}

.signuppass
{
position: absolute;
  left: 60%;
  top: 38%;
  width: 25%;
  height: 6%;
  font-size: 1.5vw;
}

.signupsubmit
{
position: absolute;
  left: 65%;
  top: 48%;
  width: 15%;
  height: 7%;
}

.loginuser
{
position: absolute;
left: 15%;
top: 25%;
  width: 25%;
  height: 6%;
  font-size: 1.5vw;
}

.loginpass
{
position: absolute;
  left: 15%;
  top: 38%;
  width: 25%;
  height: 6%;
  font-size: 1.5vw;
}

.loginsubmit
{
position: absolute;
  left: 20%;
  top: 48%;
  width: 15%;
  height: 7%;
}
