.signupuser
{
position: absolute;
left: 10%;
top: 25%;
  width: 80%;
  height: 12%;
  font-size: 1.5vw;
}

.signuppass
{
position: absolute;
  left: 10%;
  top: 38%;
  width: 80%;
  height: 12%;
  font-size: 1.5vw;
}

.signupsubmit
{
position: absolute;
  left: 30%;
  top: 75%;
  width: 40%;
  height: 15%;
  background: none;
  border: solid 4px white;
  font-size: 1.6vw;
  font-color: white;
}

.loginuser
{
position: absolute;
left: 15%;
top: 25%;
  width: 25%;
  height: 6%;
  font-size: 1.5vw;
}

.loginpass
{
position: absolute;
  left: 15%;
  top: 38%;
  width: 25%;
  height: 6%;
  font-size: 1.5vw;
}

.loginsubmit
{
position: absolute;
  left: 20%;
  top: 48%;
  width: 15%;
  height: 7%;
  background: none;
  border: solid 4px #409cff;
  font-size: 1.6vw;
}
.registerdiv
{
 position: absolute;
  backround-color: #409cff;
  left: 65%;
  height: 65%;
  width: 33%;
  top: 20%;
}
