.signupuser
{
position: absolute;
left: 65%;
top: 25%;
  width: 25%;
  height: 8%;
}

.signuppass
{
position: absolute;
  left: 65%;
  top: 32%;
  width: 25%;
  height: 8%;
}

.signupsubmit
{

}

.loginuser
{

}

.loginpass
{

}

.loginsubmit
{

}
